*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  font-family: var(--font-family);
}

img,
picture {
  max-width: 100%;
  display: block;
}
