.hero-section {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 14.125rem;
}

.hero-content-cnt {
  display: flex;
  flex-direction: column;
}
.hero-section {
  h1 {
    font-size: font(fontsize-xl-main-title);
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
    line-height: line-height(line-hieght-l-main-tablet-phone-title);
    margin-top: 11.5625rem;
    width: 60%;
  }
  button {
    align-self: flex-start;
    background: #f02ba6;
    background: linear-gradient(0deg, #f02ba6, #ff7048);
    color: color(color-white);
    margin-top: 1.5rem;
    position: relative;
  }
  button:hover {
    opacity: 0.5;
  }

  p {
    font-size: font(fontsize-medium-body);
    color: color(color-gray);
    line-height: line-height(line-hieght-tablet-phone-content);
    margin-top: 1.625rem;
    width: 45%;
  }
}
.desktop-tablet-img {
  position: absolute;
  max-width: 56.25rem;
  right: -300px;
  top: -115px;
}
.mobile-img {
  display: none;
}
