.hero-section {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  max-width: 1440px;
}

.hero-content-cnt {
  display: flex;
  flex-direction: column;
}
.hero-section {
  h1 {
    font-size: font(fontsize-xl-main-title);
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 700;
    line-height: line-height(line-hieght-l-main-tablet-phone-title);
    margin-top: 11.5625rem;
    width: 60%;
  }
  button {
    align-self: flex-start;
    background: #f02ba6;
    background: linear-gradient(0deg, #f02ba6, #ff7048);
    color: color(color-white);
    margin-top: 1.5rem;
    position: relative;
  }
  button:hover {
    opacity: 0.5;
  }

  p {
    font-size: font(fontsize-medium-body);
    color: color(color-gray);
    line-height: line-height(line-hieght-tablet-phone-content);
    margin-top: 1.625rem;
    width: 45%;
  }
}
.desktop-tablet-img {
  position: absolute;
  max-width: 56.25rem;
  right: -300px;
  top: -115px;
}
.mobile-img {
  display: none;
}

@media screen and (max-width: 952px) {
  .desktop-tablet-img {
    top: -100px;
  }
  section {
    .hero-h1 {
      margin-top: 90px;
      width: 40%;
      font-size: font(fontsize-m-title);
    }
    .hero-body {
      font-size: font(fontsize-small-body);
    }
    .media-hero-img {
      top: -90px;
    }
  }
}

@media screen and (max-width: 649px) {
  .desktop-tablet-img {
    display: none;
  }
  .phone-hero-cnt {
    flex-direction: column;
  }
  section {
    .hero-h1 {
      font-size: font(fontsize-s-title);
      width: 80%;
      margin-top: 41px;
    }
    .hero-body {
      width: 92%;
    }
  }
}

@media screen and (max-width: 648px) {
  .mobile-img-two {
    display: block;
    max-width: 20.4375rem;
    align-self: center;
  }
  .nav-btn {
    padding: 7px 15.5008px;
    font-size: font(fontsize-small-body);
  }
}
