@media screen and (max-width: 952px) {
  .desktop-tablet-img {
    top: -100px;
  }
  section {
    .hero-h1 {
      margin-top: 90px;
      width: 40%;
      font-size: font(fontsize-m-title);
    }
    .hero-body {
      font-size: font(fontsize-small-body);
    }
    .media-hero-img {
      top: -90px;
    }
  }
  .tablet-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 649px) {
  .desktop-tablet-img {
    display: none;
  }
  .phone-hero-cnt {
    flex-direction: column;
  }
  section {
    .hero-h1 {
      font-size: font(fontsize-s-title);
      width: 80%;
      margin-top: 41px;
    }
    .hero-body {
      width: 92%;
    }
  }
  .tablet-section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 648px) {
  .mobile-img-two {
    display: block;
    max-width: 20.4375rem;
    align-self: center;
  }
  .nav-btn {
    padding: 7px 15.5008px;
    font-size: font(fontsize-small-body);
  }
  .tablet-section {
    grid-template-columns: repeat(1, 1fr);
  }
}
