*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  font-family: var(--font-family);
}

img,
picture {
  max-width: 100%;
  display: block;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding-top: 1.6875rem;
  width: 80%;
  margin: 0 auto;
  max-width: 93.75rem;
  align-items: center;
}

button {
  padding: 0.875rem 1.9688rem;
  border-radius: 1.875rem;
  font-size: 1rem;
  border: none;
  transition-duration: 3s;
  cursor: pointer;
  font-family: "Plus Jakarta Sans", sans-serif;
  z-index: 1;
  position: relative;
}

nav button {
  background-color: #13183f;
  color: #fff;
}
nav img {
  max-width: 111px;
  max-height: 27px;
}
nav button:hover {
  background-color: #666ca3;
}

.hero-section {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 14.125rem;
}

.hero-content-cnt {
  display: flex;
  flex-direction: column;
}

.hero-section h1 {
  font-size: 3.5rem;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  margin-top: 11.5625rem;
  width: 60%;
}
.hero-section button {
  align-self: flex-start;
  background: #f02ba6;
  background: linear-gradient(0deg, #f02ba6, #ff7048);
  color: #fff;
  margin-top: 1.5rem;
  position: relative;
}
.hero-section button:hover {
  opacity: 0.5;
}
.hero-section p {
  font-size: 1.125rem;
  color: #83869a;
  margin-top: 1.625rem;
  width: 45%;
}

.desktop-tablet-img {
  position: absolute;
  max-width: 56.25rem;
  right: -300px;
  top: -115px;
}

.mobile-img {
  display: none;
}

.body-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 80%;
  margin: 0 auto;
  grid-gap: 30px;
}

.body-section .box {
  max-width: 21.875rem;
  max-height: 20.125rem;
  border-radius: 0.625rem;
  padding-top: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 8.625rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.body-section .box-one {
  background: #f02ba6;
  background: linear-gradient(0deg, #f02ba6, #ff7048);
  justify-content: flex-end;
}
.body-section h2 {
  font-size: clamp(1.04rem, 0.72rem + 1.62vw, 2.24rem);
  text-align: left;
  width: 80%;
  color: #13183f;
}
.body-section .body-img {
  align-self: flex-start;
  padding-bottom: 20px;
}
.body-section p {
  font-size: 1.125rem;
  color: #83869a;
}

@media screen and (max-width: 952px) {
  .desktop-tablet-img {
    top: -100px;
  }
  section .hero-h1 {
    margin-top: 90px;
    width: 40%;
    font-size: 2rem;
  }
  section .hero-body {
    font-size: 1rem;
  }
  section .media-hero-img {
    top: -90px;
  }
  .tablet-section {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 649px) {
  .desktop-tablet-img {
    display: none;
  }
  .phone-hero-cnt {
    flex-direction: column;
  }
  section .hero-h1 {
    font-size: 1.5rem;
    width: 80%;
    margin-top: 41px;
  }
  section .hero-body {
    width: 92%;
  }
  .tablet-section {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 648px) {
  .mobile-img-two {
    display: block;
    max-width: 20.4375rem;
    align-self: center;
  }
  .nav-btn {
    padding: 7px 15.5008px;
    font-size: 1rem;
  }
  .tablet-section {
    grid-template-columns: repeat(1, 1fr);
  }
  .body-section {
    width: 60%;
    margin: 0 auto;
  }
}/*# sourceMappingURL=main.css.map */